* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #333;
    color: white;
    height: 60px; 
    padding: 0 20px; 
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* formatting unorder list */
nav ul {
    list-style: none;
    display: flex; 
}

/* formatting the ancho tags */
nav ul li a {
    color: white;
    text-decoration: none; 
    padding: 15px 20px; 
    display: block; 
    transition: background-color 0.3s; 
}

.main-container {
    padding-top: 80px; /* Adjust as needed */
}

